.bookshelf {
    padding: 0 10px 20px;
}

@media (min-width: 600px) {
    .bookshelf {
        padding: 0 20px 40px;
    }
}

.bookshelf-title {
    border-bottom: 1px dotted #4285f4;
    font-family: "Lato", sans-serif;
    font-size: 1.2em;
}

.bookshelf-books {
    text-align: center;
}
.list-books-title {
    padding: 10px 0;
    background: #2485f4;
    text-align: center;
    color: #999;
}

.list-books-title h1 {
    font-weight: 400;
    margin: 0;
    color: white;
    font-weight: 700;
}
.open-search {
    position: fixed;
    right: 25px;
    bottom: 25px;
}

.open-search button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2485f4;
    background-image: url("../../icons/add.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    font-size: 0;
    cursor: pointer;
}